*{
    padding: 0;
    margin: 0;
}

/* navbar-1 start here  */

.box-1{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: green;
    }

.heading{
    font-size: 2rem;
    margin-right: auto;
    margin-left: 2rem;
}

.e-mail{
    margin-right: 30px;
}

.e-mail span{
    font-size: 26px;
    margin-left: 5px;
}

.phone{
    margin-right: 10px;
}

.phone i{
    transform: rotateY(180deg);
}

.phone span{
    font-size: 26px;
    margin-left: 5px;
}

.contact{
    display: flex;
}

/* navbar-1 end here  */

/* navbar-2 start here  */

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    background: rgb(245, 241, 241);
    padding: 5px 40px;
}

nav ul{
    list-style: none;
    flex-wrap: wrap;
    position: sticky;
}

nav ul li{
    padding: 15px 0;
    cursor: pointer;
}

nav ul li.items{
    position: relative;
    width: auto;
    margin: 0 16px;
    text-align: center;
    order: 3;
}

nav ul li.items:after{
    position: absolute;
    content: '';
    bottom: 5px;
    left: 0;
    height: 2px;
    width: 100%;
    opacity: 0;
    transition: all 0.2s linear;
}

nav ul li.items:hover:after{
    opacity: 1;
    bottom: 8px;
}

nav ul li.logo{
flex: 1;
color: white;
font-size: 25px;
font-weight: 600;
cursor: default;
user-select: none;
}

nav ul li.logo img{
    width: 90px;
    height: 70px;
}


nav ul li a{
    color: black;
    font-size: 18px;
    text-decoration: none;
    transition: .4s;
}

nav ul li:hover a{
    padding-bottom: 2px;
    border:2px solid #000000;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: black;
    color: white;
}

nav ul li i{
    font-size: 25px;
}

nav ul li.btn{
    display: none;
}

nav ul li.btn.hide i:before{
    content: '\f00d';
}

/* navbar-2 end here  */

/* home session start here  */

.home{
    height: 100vh;
    width: 100%;
    background:url('images/home1.jpg') no-repeat center center/cover;
}

/* home session end here  */

/* welcome session start here */

    .welcome{
        background-color: #ddecd8;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .welcome h1{
        font-family: 'Playball', cursive;
        color: #008146;
        padding-top: 45px;
        font-weight: 500;
    }

    .welcome p{
        color: #393939;
        font-size: 15px;
        line-height: 26px;
        margin:  10px 380px;
    }

    .btn1{
        font-family: 'Open Sans', sans-serif;
        padding-top: 10px;
        text-align: center;
        width: 145px;
        height: 33px;
        border-radius: 10px;
        margin-bottom: 50px;
        margin-top: 20px;
        transition: all 0.5s ease;
        background-color: black;
        color: white;
        font-weight: bold;
    }

    .btn1:hover{
        background-color: #008146;
        cursor: pointer;
    }

/* welcome session end here */

/* category session start here */

 .category{
     /* border: 2px solid red; */
     display: flex;
     justify-content: center;
     height: auto;
     padding-top: 50px;
     background-color: #f3f0dd;;
 }

 .cat-box{
    display: flex;
    flex-direction: column;
    /* border: 2px solid blue; */
    width: 30vw;
    height: auto;
    margin: 10px 40px;
 }

.cat-box img{
    border-radius: 10px;
}

.cat-box img:hover{
    background-color: rgba(0, 0, 0, .2);
    transform: scale(1.1);
    position: relative;
    transition: all .3s ease-out
}

 .cat-box h1{
     font-size: 25px;
     margin-top: 30px;
     margin-bottom: 10px;
 }

 .cat-box h1:hover{
     color: #008146;
 }

 .cat-box p{
     color: #393939;
 }

 .btn2{
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
    text-align: center;
    width: 145px;
    height: 33px;
    border-radius: 5px;
    margin-bottom: 65px;
    margin-top: 35px;
    transition: all 0.5s ease;
    background-color: #008146;
    color: white;
    font-weight: bold;
}

.btn2:hover{
    background-color: rgb(31, 28, 28);
    cursor: pointer;
}

/* category session end here */

/* choose us session  */

    .choose{
        display: flex;
        flex-direction: column;
        background-color:rgb(4,68,36);
        /* border: 2px solid red; */
        justify-content: center;
        align-items: center;
    }

    .choose h1{
        font-family: 'Playball', cursive;
        margin-top: 50px;
        margin-bottom: 30px;
        color: white;
    }

    .choose-container{
        display: flex;
        flex-direction: row;
    }

    .choose-box{
        /* border: 2px solid blue; */
        display: flex;
        flex-direction: column;
        width: 18vw;
        align-items: center;
        height: auto;
        margin: 10px 40px;
    }

    .choose-box h3{
        font-size: 25px;
        color: white;
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .choose-box p{
        color: white;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        margin-bottom: 30px;
    }
   
 /* choose us session  */

    /* product-gallery session  */

    .product-session h1{
        text-align: center;
        background-color: rgb(216, 200, 200);
        color: black;
        padding-top: 35px;
        padding-bottom: 20px;
    }

    .product-session h1 span{
        color: green;
    }

    .product{
        /* border: 2px solid red; */
        background-color: rgb(216, 200, 200);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .product-box{
        /* border: 2px solid black; */
        padding: 10px;
        margin: 10px;
        width: 26vw;
    }

    .product-box img{
        border-radius: 10px;
    }
    
    .product-box img:hover{
        background-color: rgba(0, 0, 0, .2);
        transform: scale(1.1);
        position: relative;
        transition: all .3s ease-out
    }
    
    .product-box h2{
        font-size: 30px;
        margin-top: 20px;
        color: #008146;
    }
   
    .product-box h2:hover{
        color: black;
    }

    /* product-gallery session  */

    /* contract session  */

   .contract{
       display: flex;
       flex-direction: row;
       background-color: white;
   }
   
    .contract-box{
        display: flex;
        flex-direction: column;
        /* border: 2px solid red; */
        padding-left: 100px;
        width: 39vw;
    }

    .contract-box h1{
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 2.3rem;
    }

    .contract-box h1 span{
        color: #008146;
    }

    .contract-box p{
        font-size: 1.2rem;
        margin-top: 20px;
        margin-bottom: 40px
        }

    .contract-box p span{
        color: #008146;
    }

    .special{
        color: gray;
        font-size: 1rem;
        margin-bottom: 60px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .types{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .read{
        margin: 5px 30px;
        width: 100px;
        height: 30px;
        color: #008146;
    }

    .request{
        background: #008146;
        padding: 10px;
        width: 573px;
        background-size: cover;
        margin: 20px 40px;
    }

    .request-box{
        border: 1px dashed white;
        padding-bottom: 45px;
    }

    .request-box h3{
        font-size: 2.5rem;
        color: white;
        margin-top: 35px;
        margin-bottom: 25px;
        margin-left: 10px;
    }

    #fname{
        height: 40px;
        width: 250px;
        margin: 10px;
    }

    #fmessage{
        width: 39vw;
        height: 35vh;
        margin: 10px
    }

    .form-btn{
        /* border: 2px solid black; */
        width: 75px;
        text-align: center;
        height: 26px;
        font-size: 20px;
        border-radius: 2px;
        background-color: white;
        float: right;
        margin-right: 25px;
    }

    /* contract session  */


@media only screen and (min-width : 320px)  and (max-width : 767px){
    
/* /* mobile :- */

/* navbar-1 start here  */

    .heading{
        display: none;
    }

    .contact{
        justify-content: center;
        flex-direction: column;
    }

    .e-mail{
        margin-left: 20px;
    }

    .phone{
        margin-left: 20px;
    }

    .phone i{
        transform: rotateY(180deg);
    }

    .phone span{
        font-size: 20px;
    }


/* navbar-1 end here  */

/* navbar-2 start here  */

nav{
    padding: 5px 30px;
}

nav ul li{
    margin-bottom: 2px solid rgb(8, 8, 8);
}

nav ul li.items{
    width: 100%;
    display: none;
}

nav ul li.items.show{
    display: block;
}

nav ul li.btn{
    display: block;
}


nav ul li.items:hover{
    border-radius: 5px;
    box-shadow: inset 0 0 5px #fff,
                inset 0 0 10px #fff;
}

nav ul li:hover a{
    border-bottom:none;
    transform: scale(1.2);
    background-color: rgb(245, 241, 241);
    border: none;
    color: black;
}

nav ul li.items:hover:after{
    opacity: 0;
}

.items{
    margin-bottom: 10px;
    box-shadow: inset 0 0 5px gray,
                inset 0 0 10px gray;
    border-bottom: 2px solid gray;
} 

/* navbar-2 end here  */

/* home session start here  */

.home{
    /* border: 2px solid red; */
    height: 40vh;
    width: 100vw;
}

/* home session end here  */

/* welcome session start here */

.welcome{
    background-color: #ddecd8;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome h1{
    font-family: 'Playball', cursive;
    color: #008146;
    padding-top: 45px;
    font-weight: 500;
    font-size: 20px;
}

.welcome p{
    color: #393939;
    font-size: 20px;
    margin: 17px;
    line-height: 25px;
    text-align: center
}

.btn1{
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
    text-align: center;
    width: 145px;
    height: 33px;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-top: 20px;
    transition: all 0.5s ease;
    background-color: black;
    color: white;
    font-weight: bold;
}

.btn1:hover{
    background-color: #008146;
    cursor: pointer;
}

/* welcome session end here */

/* category session  */

.category{
    width: 100%;
    flex-direction: column;
}

.cat-box{
    width: auto;
    margin-left: 20px;
}

.cat-box img{
    border-radius: 2px;
}

.cat-box h1{
    line-height: 30px;
}

.cat-box p{
    line-height: 25px;
}

/* category session  */

/* choose us session  */

.choose{
    display: flex;
    flex-direction: column;
    background-color:rgb(4,68,36);
    justify-content: center;
    align-items: center;
}

.choose h1{
    margin-top: 50px;
    margin-bottom: 30px;
    color: white;
}

.choose-container{
    display: flex;
    flex-direction: column;
}

.choose-box{
    display: flex;
    flex-direction: column;
    width: 18vw;
    align-items: center;
    height: auto;
    margin: 10px 40px;
}

.choose-box h3{
    font-size: 25px;
    color: white;
    width: 100vw;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

.choose-box p{
    color: white;
    width: 100vw;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 30px;
}

/* choose us session  */

/* product-gallery session  */

.product-session h1{
    text-align: center;
    background-color: rgb(216, 200, 200);
    color: black;
    padding-top: 35px;
    padding-bottom: 22px;
}

.product-session h1 span{
    color: green;
}

.product{
    /* border: 2px solid red; */
    background-color: rgb(216, 200, 200);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 15px;
}

.product-box{
    /* border: 2px solid black; */
    width: 100vw;
}

.product-box img{
    border-radius: 10px;
    width: 80vw;
    height: 40vh;
}

.product-box img:hover{
    background-color: rgba(0, 0, 0, .2);
    transform: scale(1.1);
    position: relative;
    transition: all .3s ease-out
}

.product-box h2{
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #008146;
}

.product-box h2:hover{
    color: black;
}

/* product-gallery session  */

 /* contract session  */

 .contract{
    display: flex;
    flex-direction: column;
    background-color: white;
}

 .contract-box{
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: flex-start;
     border: 2px solid red;
     width: 20%
    }

    .contract-box h1{
        font-size: 20px;
    }

 /* contract session  */



}

@media only screen and (min-width : 768px)  and (max-width : 1024px){
    
/* /* ipad :-  */

/* navbar-1 start here  */

    .contact{
        justify-content: center;
        flex-direction: column;
    }

    .phone span{
        margin-left: 5px;
        margin-right: 50px;
    }

    .phone i{
        transform: rotateY(180deg);
    }

    /* navbar-1 end here  */

    /* navbar-2 start here */
    
    nav ul li{
        margin-bottom: 2px solid rgb(8, 8, 8);
    }
    
    nav ul li.items{
        width: 100%;
        display: none;
    }

    nav ul li .logo img{
        margin-top: 3px;
    }
    
    nav ul li.items.show{
        display: block;
    }
    
    nav ul li.btn{
        display: block;
    }
    
    
    nav ul li.items:hover{
        border-radius: 5px;
        box-shadow: inset 0 0 5px #fff,
                    inset 0 0 10px #fff;
    }
    
    nav ul li:hover a{
        border-bottom:none
    }
    
    nav ul li:hover a{
        border-bottom:none;
        transform: scale(1.2);
        background-color: rgb(245, 241, 241);
        border: none;
        color: black;
    }
    
    nav ul li.items:hover:after{
        opacity: 0;
    }

    .items{
        margin-bottom: 10px;
        box-shadow: inset 0 0 5px gray,
                    inset 0 0 10px gray;
        border-bottom: 2px solid gray;
    }

    nav i{
        margin-left: 20px;
    }
    

    /* navbar-2 end here */

    /* home session start here  */

.home{
    height: 40vh;
    width: 100%;
}

/* home session end here  */

/* welcome session start here */

.welcome{
    background-color: #ddecd8;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome h1{
    font-family: 'Playball', cursive;
    color: #008146;
    padding-top: 45px;
    font-weight: 500;
    font-size: 20px;
}

.welcome p{
    color: #393939;
    font-size: 20px;
    margin: 17px;
    line-height: 25px;
    text-align: center
}

.btn1{
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
    text-align: center;
    width: 145px;
    height: 33px;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-top: 20px;
    transition: all 0.5s ease;
    background-color: black;
    color: white;
    font-weight: bold;
}

.btn1:hover{
    background-color: #008146;
    cursor: pointer;
}

/* welcome session end here */

/* category session  */

.category{
    width: 100%;
    flex-direction: column;
}

.cat-box{
    width: auto;
    margin-left: 41px;
}

.cat-box img{
    border-radius: 2px;

}

.cat-box h1{
    line-height: 30px;
    margin-top: 50px;
}

.cat-box p{
    line-height: 25px;
}

/* category session  */

/* choose us session  */

.choose{
    display: flex;
    flex-direction: column;
    background-color:rgb(4,68,36);
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
}

.choose h1{
    margin-top: 50px;
    margin-bottom: 30px;
    color: white;
}

.choose-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.choose-box{
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    width: 38vw;
    align-items: center;
    height: auto;
    margin: 10px 40px;
}

.choose-box h3{
    font-size: 25px;
    color: white;
    margin-top: 30px;
    margin-bottom: 15px;
}

.choose-box p{
    color: white;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 30px;
}

/* choose us session  */

/* product-gallery session  */

.product-session h1{
    text-align: center;
    background-color: rgb(216, 200, 200);
    color: black;
    padding-top: 35px;
    padding-bottom: 22px;
}

.product-session h1 span{
    color: green;
}

.product{
    /* border: 2px solid red; */
    background-color: rgb(216, 200, 200);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 35px;
}

.product-box{
    /* border: 2px solid black; */
    width: 100vw;
}

.product-box img{
    border-radius: 10px;
    width: 85vw;
    height: 40vh;
}

.product-box img:hover{
    background-color: rgba(0, 0, 0, .2);
    transform: scale(1.1);
    position: relative;
    transition: all .3s ease-out
}

.product-box h2{
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #008146;
}

.product-box h2:hover{
    color: black;
}

/* product-gallery session  */

}
